#center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 32px 64px;
}

@media (max-width: 768px) {
  #center {
    padding: 24px 20px 48px;
  }
}

@media (max-width: 480px) {
  #center {
    padding: 20px 16px 40px;
  }
}